<h1>Pages</h1>

<table class="table">
	<thead>
		<th>Title</th>
		<th>Path</th>
		<th>Publish Date</th>
		<th>Last Modified</th>
	</thead>
	<tbody>
<% _.each(pages, function(page){ %>
<tr>
	<td><a href="/edit<%=page.path%>"><%=page.title%></a></td>
	<td><a href="<%=page.published ? '' : '/preview' %><%=page.path%>"><%=page.path%></a></td>
	<td><%=page.published ? _.moment.unix(page.published).from() : '<span class="label label-info">Not Published</span>'%></td>
	<td><%=_.moment.unix(page.time).from()%></td>
</tr>
<% }); %>
	</tbody>
</table>

<a href="/pages/new" class="btn btn-primary" style="float:left;">
	New Page
</a>

<div class="pagination pagination-centered">
	<ul>
		<li class="<%=(page==0) ? 'disabled' : '' %>"><a href="/pages/<%=(page-1)%>">Prev</a></li>
		<li class="disabled"><a href="">Page <%=(page+1)%></a></li>
		<li class="<%=(pages.length==page_size) ? '' : 'disabled' %>"><a href="/pages/<%=(page+1)%>">Next</a></li>
	</ul>
</div>